In [24]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
stats = pd.read_csv('/Users/mac/Documents/Excel/hitting.csv')
stats_modern = stats.drop(stats.index[86:155])
key_stats = stats_modern[['Year', 'BatAge', 'G', 'R', 'H', 'HR', 'RBI', 'SB', 'BB', 'SO', 'BA', 'OPS' ]]
stats_modern.head()

,Year,Tms,#Bat,BatAge,R/G,G,PA,AB,R,H,1B,2B,3B,HR,RBI,SB,CS,BB,SO,BA,OBP,SLG,OPS,TB,GDP,HBP,SH,SF,IBB,BIP
0,2025,30,580,28.2,4.31,1768,37.58,33.55,4.31,8.19,5.42,1.57,0.13,1.07,4.13,0.77,0.22,3.25,8.26,0.244,0.316,0.395,0.711,13.25,0.65,0.39,0.11,0.27,0.11,24.49
1,2024,30,741,27.9,4.39,4858,37.56,33.69,4.39,8.20,5.34,1.60,0.14,1.12,4.19,0.74,0.20,3.07,8.48,0.243,0.312,0.399,0.711,13.45,0.66,0.42,0.09,0.26,0.10,24.35
2,2023,30,765,28.0,4.62,4860,37.88,33.83,4.62,8.40,5.35,1.69,0.15,1.21,4.43,0.72,0.18,3.25,8.61,0.248,0.320,0.414,0.734,14.01,0.71,0.43,0.09,0.25,0.10,24.26
3,2022,30,790,28.2,4.28,4860,37.46,33.63,4.28,8.16,5.33,1.63,0.13,1.07,4.09,0.51,0.17,3.06,8.40,0.243,0.312,0.395,0.706,13.28,0.70,0.42,0.08,0.25,0.10,24.41
4,2021,30,1373,28.4,4.53,4858,37.43,33.33,4.53,8.13,5.15,1.62,0.14,1.22,4.32,0.46,0.15,3.25,8.68,0.244,0.317,0.411,0.728,13.69,0.69,0.43,0.16,0.24,0.14,23.67

In [25]:
runs_median = stats_modern['R'].median()
print(runs_median)

4.38

In [26]:
runs_percentiles = stats_modern['R'].describe(percentiles=[.1, .2, .3, .4, .5, .6 , .7, .8, .9, 1])
print(runs_percentiles)

count    86.000000
mean      4.400349
std       0.317110
min       3.420000
10%       4.020000
20%       4.140000
30%       4.260000
40%       4.310000
50%       4.380000
60%       4.470000
70%       4.595000
80%       4.650000
90%       4.805000
100%      5.140000
max       5.140000
Name: R, dtype: float64

In [27]:
def ninetieth_percentile_rows(df, column_name):
    percentile_90 = df[column_name].quantile(0.90)
    return df[df[column_name] >= percentile_90]

ninetieth_percentile = ninetieth_percentile_rows(key_stats, 'R')
ninetieth_percentile.sort_values(by='R', ascending=False)

    Year  BatAge     G     R     H    HR   RBI    SB    BB    SO     BA    OPS
25  2000    29.1  4858  5.14  9.31  1.17  4.89  0.60  3.75  6.45  0.270  0.782
26  1999    28.9  4856  5.08  9.33  1.14  4.83  0.70  3.68  6.41  0.271  0.778
29  1996    28.8  4534  5.04  9.33  1.09  4.76  0.71  3.55  6.46  0.270  0.767
31  1994    28.7  3200  4.92  9.29  1.03  4.64  0.71  3.48  6.18  0.270  0.763
19  2006    29.2  4858  4.86  9.28  1.11  4.63  0.57  3.26  6.52  0.269  0.768
30  1995    28.6  4034  4.85  9.17  1.01  4.57  0.73  3.53  6.30  0.267  0.755
75  1950    28.3  2476  4.85  9.11  0.84  4.55  0.26  4.02  3.86  0.266  0.748
6   2019    27.9  4858  4.83  8.65  1.39  4.63  0.47  3.27  8.81  0.252  0.758
21  2004    29.3  4856  4.81  9.17  1.12  4.58  0.53  3.34  6.55  0.266  0.763

In [28]:
def eightieth_percentile_rows(df, column_name):
    percentile_90 = df[column_name].quantile(0.90)
    percentile_80 = df[column_name].quantile(0.80)
    return df[(df[column_name] >= percentile_80) & (df[column_name]< percentile_90)]

eightieth_percentile = eightieth_percentile_rows(key_stats, 'R')
eightieth_percentile.sort_values(by='R', ascending=False)

    Year  BatAge     G     R     H    HR   RBI    SB    BB    SO     BA    OPS
18  2007    29.1  4862  4.80  9.25  1.02  4.58  0.60  3.31  6.62  0.268  0.758
27  1998    28.9  4864  4.79  9.15  1.04  4.54  0.68  3.38  6.56  0.266  0.755
24  2001    29.2  4858  4.78  9.03  1.12  4.55  0.64  3.25  6.67  0.264  0.759
28  1997    28.9  4532  4.77  9.15  1.02  4.52  0.73  3.46  6.61  0.267  0.756
85  1940    27.9  2962  4.77  9.20  0.59  4.37  0.43  3.36  3.06  0.267  0.723
22  2003    29.2  4860  4.73  9.07  1.07  4.50  0.53  3.27  6.34  0.264  0.755
38  1987    28.3  4210  4.72  9.00  1.06  4.44  0.85  3.42  5.96  0.263  0.747
5   2020    28.0  1796  4.65  8.04  1.28  4.44  0.49  3.39  8.68  0.245  0.740
8   2017    28.3  4860  4.65  8.69  1.26  4.44  0.52  3.26  8.25  0.255  0.750
17  2008    28.8  4856  4.65  9.06  1.00  4.44  0.58  3.36  6.77  0.264  0.749

In [29]:
runs_list_by_decade = []
x = 76
y = 85
while x >= 6:
    runs_mean_by_decade = stats_modern.loc[x:y, 'R'].mean()
    runs_list_by_decade.append(round(runs_mean_by_decade, 2)) 
    x = x - 10
    y = y - 10

runs_list_by_decade.append(round(stats_modern.loc[0:5, 'R'].mean(), 2))

data = {'Decade': ['1940s', '1950s', '1960s', '1970s', '1980s', '1990s','2000s','2010s', '2020s'],
        'Runs': runs_list_by_decade}
df_runs_by_decade = pd.DataFrame(data)
df_runs_by_decade

  Decade  Runs
0  1940s  4.41
1  1950s  4.45
2  1960s  4.05
3  1970s  4.15
4  1980s  4.29
5  1990s  4.67
6  2000s  4.76
7  2010s  4.39
8  2020s  4.46

In [30]:
home_runs = stats_modern['HR'].tolist()
runs = stats_modern['R'].tolist()
x = np.array(home_runs)
y = np.array(runs)

mean_x = np.mean(x)
mean_y = np.mean(y)

sd_x = np.std(x, ddof=1)
sd_y = np.std(y, ddof=1)

correlation = np.corrcoef(x, y)[0, 1]
slope = (correlation * sd_y) / sd_x
intercept = mean_y - slope * mean_x
print(f"Slope (b1): {slope}")
print(f"Intercept (b0): {intercept}")

y_pred = intercept + slope * x

print(f"Predicted values: {y_pred}")

Slope (b1): 0.8205968466463036
Intercept (b0): 3.684425797629393
Predicted values: [4.56246442 4.60349427 4.67734798 4.56246442 4.68555395 4.73478976
 4.82505541 4.62811217 4.71837782 4.63631814 4.51322861 4.39013909
 4.47219877 4.52143458 4.45578683 4.4639928  4.53784652 4.50502264
 4.52143458 4.5952883  4.52964055 4.60349427 4.56246442 4.53784652
 4.60349427 4.64452411 4.6199062  4.53784652 4.52143458 4.57887636
 4.51322861 4.52964055 4.41475699 4.27525553 4.34090327 4.33269731
 4.2834615  4.3080794  4.55425846 4.43116893 4.39013909 4.31628537
 4.32449134 4.34090327 4.20960778 4.2834615  4.35731521 4.25884359
 4.39834505 4.16037197 4.25884359 4.24243165 4.34090327 4.24243165
 4.29166746 4.40655102 4.34090327 4.18498987 4.26704956 4.38193312
 4.36552118 4.38193312 4.37372715 4.44758087 4.4639928  4.39013909
 4.43116893 4.43116893 4.41475699 4.44758087 4.42296296 4.32449134
 4.37372715 4.25063762 4.29987343 4.37372715 4.25063762 4.16037197
 4.16037197 4.06190035 4.00445857 4.00445857 3.96342873 4.02907647
 4.10293019 4.16857794]